.body{
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
 border-radius: 8px;
background: #E55473;
border: 0;
color: #FFF;
font-size: 20px;
font-weight: 700;
padding:15px 40px ;
}

.nav{
color: #272727;
font-family: Lato;
font-size: 30px;
font-style: normal;
font-weight: 700;

}
